h1 {
    position: absolute;
    width: 100%;
    top: 30vh;
    font-size: 10em;
    color: white;
    text-align: center;
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.lefted {
    top: 27vh;
    text-align: left;

}