body {
    height: 100vh;
    margin: 0 0;

}

.screen0 {
    height: 100vh;
    background: #00d2ff;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3a7bd5, #00d2ff);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.screen1 {
    height: 100vh;
    background: #649173;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #DBD5A4, #649173);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #DBD5A4, #649173);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.screen2 {
    height: 100vh;
    background: #B993D6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8CA6DB, #B993D6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8CA6DB, #B993D6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.screen3 {
    height: 100vh;
    background: #B993D6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8CA6DB, #B993D6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8CA6DB, #B993D6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.screen4 {
    height: 100vh;
    background: #870000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #190A05, #870000);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #190A05, #870000);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.screen5 {
    height: 100vh;
    background: #00d2ff;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3a7bd5, #00d2ff);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.screen6 {
    height: 100vh;
    background: #f2709c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff9472, #f2709c);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff9472, #f2709c);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



}

.screen7 {
    height: 100vh;
    background: #f2709c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff9472, #f2709c);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff9472, #f2709c);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.screen8 {
    height: 100vh;
    background: #E6DADA;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #274046, #E6DADA);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #274046, #E6DADA);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.screen9 {
    height: 100vh;
    background: #616161;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #9bc5c3, #616161);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #9bc5c3, #616161);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}